*{
    box-sizing: border-box;
}
/* Cart Style */
.cart-btn{
    position: relative;
    margin-right: auto;
    margin-left: 10px;
    z-index: 2;
}
[lang="en"] .cart-btn{
    margin-right: 10px; 
    margin-left: auto;
}

.cart-container {
    display: none;
    position: relative; 

}
.cart-container.active{
    display: block;
}
@media (min-width: 500px) {
    .cart{
        left: 0;
        width: 400px;
    }
}
@media (max-width: 500px) {
    .cart {
        width: calc(100vw - 90px); /* Shrinks while keeping a margin */
        max-width: 300px; /* Optional: don't let it get too big */
        left: calc(-1 * (450px - 100vw) / 2);
    }
}
@media (max-width: 768px) {
    main{
        width: 100% !important;
        margin-inline: 10px;
    }
}
.cart {
    position: absolute;
    margin-top: 1.4rem;
    background-color: var(--light);
    color: var(--dark-blue);
    border-radius: 10px;
    padding: 10px;
    font-size: 12px;
    font-weight: bold;
    z-index: 1; /* Ensure it stays above other elements */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

[lang="en"] .cart{
    left: auto;
    right: 0;
}
.cart ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.cart .remove-btn{
    color: white;
    margin-right: auto;
    padding: 0 5px;
}
[lang ="en"] .remove-btn{
    margin-left: auto;
    margin-right: 0;
}
.cart-item{
    gap: 10px;
}
.cart-item img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 8px;
}
main{
    width: 70%;
    margin: auto;
    background-color: var(--light-hover);
    box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;    
    margin-block: 30px;
}
/* Cheif Info Styling */
.cheif-info{
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 10px;
    color: var(--dark-blue);
}
.cheif-info img{
    width: 100px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
}
.cheif-info p{
    margin-bottom: 5px;
}
/* Cheif Info End */

/* Food Info Styling */
.food-info{
    display: flex;
    flex-wrap: wrap;
}
/* toggle buttons Styling*/
.togl-btns{
    width: 100%;
    padding: 0 10px;
    display: flex;
    gap: 10px;
    margin-block-end: -1px;
}
.togl-btns .btn{
    border-radius: 10px 10px 0 0;
    background-color:transparent;
    border: 1px solid var(--dark-blue);
    color:  var(--dark-blue);
}
.togl-btns .btn.active{
    background-color:  var(--dark-blue);
    color: var(--light);
}
    /* Menu Styling */
.menu{
    width: 100%;
    display: none;
}
.menu.active{
    display: flex;
}
.menu-items{
    flex-grow: 1;
}
.section-h3{
    padding: 10px;
    color: var(--light);
    background-color: var(--dark-blue);
}
/* Menu item */
.menu-item{
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 15px;
    margin: 20px 10px ;
    background-color: var(--light);
    border-radius: 10px;
}
.menu-item img{
    width: 200px;
    height: 150px;
    border-radius: 8px;
    object-fit: cover;
}
.menu-info{
    flex-grow: 1;
}
.menu-info h3{
    margin: 0;
    font-size: 26px;
    color: var(--dark-blue);
}
.menu-info p {
    margin: 5px 0;
    font-size: 14px;
    color: #555;
}
.price {
    font-weight: bold;
    color: #e74c3c;
    font-size: 16px;
}
/* Add to Cart */
.add-to-cart-section{
    display: flex;
    align-items: center;
    gap: 5px;
}
.item-quantity{
    width: 15%;
    max-width: 50px;
    background-color: var(--light);
    border-radius: 5px;
}
.add-to-cart{
    background-color: var(--red);
    border: 2px solid var(--red) !important;
    color: var(--light);
}   
.add-to-cart:hover{
    background-color: transparent;
    color: var(--red);
}
/* Menu End */

/* Reviews Styling */
.reviews{
    display: none;
    width: 100%;
}
.reviews.active{
    display: block;
}
.review{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    background-color: var(--light);
}
.review img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}
.review p{
    color: var(--dark-blue);
}
form{
    padding: 10px;
}
form .form-control{
    margin-bottom: 10px;
    background-color: var(--light) !important;
}
form .btn{
    background-color: var(--red);
    
}
form .btn:hover{
    background-color: var(--red-hover);
}
/* Reviews End */

/* RTL Styling */
[dir="rtl"] .stars .bi-star-half {
    transform: scaleX(-1); /* Flip the half-star horizontally */
    display: inline-block; /* Ensure proper rendering */
}
