.page-cover{
    width: 100%;
    height: 80vh; /* Full screen height */
    background: url('Images/iftar.jpg') no-repeat center center;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    position: relative;
}
.pgcover-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Dark overlay for readability */
}

.cover-text {
    position: relative;
    padding: 0.5rem;
    text-align: center; /* Centers text inside */
    width: 100%; /* Ensures proper centering */
    max-width: 700px;
}
.cover-text h2{
    margin-bottom: 20px;
    font-size: 2rem;
    font-weight: bold;
}
form{
    display: flex;
    gap: 10px;
    justify-content: center;
}
form #search{
    display: inline;
    width: 60%;
    border-radius: 0;
}
form .btn{
    border-radius: 0;
}
.cards{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: .5rem;
    justify-content: space-around;
    gap: 1rem;
}

.card{
    width: 30%;
    max-width: 500px;
}
.card-img-overlay{
    display: flex;
    justify-content: center; /* This centers the cards horizontally */
    align-items: center;
    background: rgba(0, 0, 0, 0.5); /* Dark overlay for readability */
}
.card-img-overlay p{
    color: white;
    font-size: 1em;
    font-weight: bold;
    text-align: center; /* Centers text inside */
    width: 100%; /* Ensures proper centering */
}