body{
    background-color: var(--light);
}
.navbar-brand{
    color: var(--red);
}
.navbar-brand:hover{
    color: var(--red-hover);
}
.nav-link.active{
    color: var(--orange) !important;
}
#languageToggle{
    background-color: var(--red);
    border-radius: 20px;
    color: var(--light);
}
#languageToggle:hover{
    background-color: var(--red-hover);
}
form{
    display: flex;
    width: 100%;
    padding: .5rem 1rem;

}
form #searchInput{
    width: 98%;
    display: inline;
    background-color: transparent;
}
form .btn{
    background-color: var(--red);
    color: var(--light);
}
form .btn:hover{
    background-color: var(--red-hover);
    color: var(--light);
}


@media (max-width: 700px) {
    form{
        padding: .5rem 0;
    }
    .kitchens{
        gap: .5rem;
        padding: .5rem 0;
        flex-direction: column-reverse;
    }
    .kitchens-list{
        width: 100%;
    }
    .kitchen {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .featured{
        display: flex;
        flex-direction: column;
        gap: .5rem;
        padding: 10px;
        width: 100%;
    }
}
@media (min-width: 700px) {
    .kitchens{
        gap: 1%;
        padding: .5rem 1rem;
    }
    .kitchens-list{
        width: 69%;
    }
    .kitchen {
        display: flex;
        align-items: center;
    }
    .featured{
        display: flex;
        flex-direction: column;
        gap: .5rem;
        
        padding: 10px;
        width: 30%;
        height: 50%;
    }
}
.featured{
    background-color: var(--light); 
    
}
[lang='en'] .kitchen{
    border-left: 2px solid var(--red-hover); 
    border-right: none;
}
.kitchens{
    display: flex;
    background-color: var(--light);
    flex-wrap: wrap;
    width: 100%;
    padding: 20px;
    
}
.kitchens-list{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}
.kitchen{
    margin: 0rem 1.2rem;
    padding: 1rem;
    gap: .5rem;
    color: var(--light);
    border-left: none;
    border-bottom: none;
}

.kitchen img {
        object-fit: cover;
        width: 150px;
        aspect-ratio: 1 / 1;
        border-radius: 50px;
    }
.kitchen-info{
    flex-grow: 1;
    width: 50%;
}
h3{
    margin: 0;
    font-size: 18px;
    color: rgb(37, 37, 37);
}
p{
    margin: 5px 0;
    font-size: 14px;
    color: rgb(37, 37, 37);

}
.kitchen-info .btn{
    background-color: var(--red);
    color: var(--light);
    border-radius: 20px;
}
.kitchen-info .btn{
    background-color: var(--red-hover);
    color: var(--light);
}
.featured{
    border-radius: 20px;
}
.featured img{
    width: 25%;
    object-fit: cover;
    min-width: 100px;
    max-width: 250px;
    aspect-ratio: 1 / 1;
    border-radius: 20px; 
}
