:root{
    --light: #FEF3E2;
    --light-hover: #fdeace;
    --light-shadow: #c3b8a8;
    --red: #FA4032;
    --red-hover: #E71506;
    --yellow: #FAB12F;
    --yellow-hover: #E39206;
    --orange: #FA812F;
    --orange-hover: #E35E06;
    --dark: #1c0d14;
    --dark-blue: #495867
    
}
*{
    box-sizing: border-box;
}
/*Font*/
@font-face {
    font-family: 'CustomCairo';
    src: url(Fonts/Cairo-VariableFont_slnt\,wght.ttf);
    font-weight: normal;
    font-style: normal;
}
/*Lang show/hide */
.lang-en { display: none; }
.lang-ar { display: block; } 

[lang="en"] .lang-en { display: block; }
[lang="en"] .lang-ar { display: none; }
/*Body Styling*/
.chief-content, .guest-content{
    display: none !important;
}
.chief-content.show, .guest-content.show{
    display: block !important;
}
.user-content.hide ,.login-content.hide{
    display: none !important;
}
body{
    font-family: 'CustomCairo', sans-serif;
    padding: 0px;
    margin: 0px;
    background-color: var(--light);
}
.page-title{
    text-align: center;
    padding: 10px;
    font-weight: bold;
    color: var(--red);
    margin: 0;
    margin-block-end: 10px;
    font-size: 36px;
    
}
/* Navbar Styling */
.navbar{
    padding: 10px;
    display: flex;
       background-color: var(--light) !important;

}
.nav-link{
    margin-inline: 3px;
}
.nav-link.active, .nav-link:hover{
    border-top: 3px solid var(--red);
}  
 
.authBtn{
    margin-top: 5px;
    background-color: var(--red);
    color: var(--light);
}
.authBtn:hover{
    color: var(--light);
    background-color: var(--red-hover);
}
.navbar-brand{
    margin-left: 1rem;
    font-size: 1.5em;
    font-weight: bold;
    color: var(--red);
}
.navbar-brand:hover{
    color: var(--red-hover);
}
#languageSwitcher{
    margin-right: auto;
    border-radius: 0;
}
#languageToggle{
    background-color: var(--red);
    border-radius: 20px;
    color: var(--light);
}
#languageToggle:hover{
    background-color: var(--red-hover);
}
#collapsibleNavbar ul{
    margin-right: auto;
    margin-left: 10px;
}
[lang="en"] #collapsibleNavbar ul{
    margin-left: auto;
    margin-right: 10px;
}
nav #user-img{
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: -5px;
}
nav #user-img:hover{
    cursor: pointer;
}
img.nav-link.active, img.nav-link:hover{
    border: 3px solid var(--red) !important;
}
@media (max-width: 768px) {
    .navbar{
        background-color: var(--light) !important;
    }
    .nav-link{
    color: inherit !important;
    }
    .nav-link.active, .nav-link:hover{
        border-top: none;
        border-bottom: 3px solid var(--red);
    }     
}
footer{
    background-color: #333;
    color: white;
    padding: 10px;
    bottom: 0;
    width: 100%;
    height: 40dvh;
}
.footer-head{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ffffff;
    padding-bottom: 10px;
    
}
.footer-head ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.footer-head ul li{
    border-left: #ffffff solid 1px;
    padding-left: 20px;
}
[lang="ar"] .footer-head ul li:last-child{
    border: none;
}
[lang="en"] .footer-head ul li:first-child{
    border: none;
}
.footer-head ul li a{
    text-decoration: none;
    color: white
}
.footer-main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 10px;
}
.footer-main ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.footer-main ul li a{
    margin-bottom: 10px;
    color: #cccccc;
    text-decoration: none;
}
.services h4:hover{
    cursor: pointer;
}
.socials{
    width: 20%;
}
.socials a{
    text-decoration: none;
    color: white;
    margin-right: 10px;
    font-size: 1.5rem;
}
@media (max-width: 768px) {
    .footer-head {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .footer-head ul {
        flex-direction: column;
        gap: 10px;
    }

    .footer-head ul li {
        border: none;
        padding-left: 0;
    }

    .footer-main {
        flex-direction: column;
        gap: 20px;
    }

    .socials {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 10px;
    }

    .socials a {
        margin-right: 15px;
        font-size: 1.2rem;
    }
   
}
