/*Font*/
@font-face {
    font-family: 'CustomCairo';
    src: url(Fonts/Cairo-VariableFont_slnt\,wght.ttf);
    font-weight: normal;
    font-style: normal;
}
/*Lang show/hide */
.lang-en { display: none; }
.lang-ar { display: block; } 

[lang="en"] .lang-en { display: block; }
[lang="en"] .lang-ar { display: none; }
/*Body Styling*/
body{
    font-family: 'CustomCairo', sans-serif;
    padding: 0px;
    margin: 0px;
    background-color: rgb(233, 233, 233);
}
/* Navbar Styling */
.navbar{
    padding: 10px;

}
nav .btn{
    margin-top: 5px;
    border-radius: 0;
}
nav .navbar-brand{
    margin-left: 1rem;
    font-size: 1.5em;
    font-weight: bold;
}
#languageSwitcher{
    margin-right: auto;
    border-radius: 0;
}
#collapsibleNavbar ul{
    margin-right: auto;
    margin-left: 10px;
}
[lang="en"] #collapsibleNavbar ul{
    margin-left: auto;
    margin-right: 10px;
}
footer{
    background-color: #333;
    color: white;
    padding: 10px;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
}
.footer-head{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ffffff;
    padding-bottom: 10px;
    
}
.footer-head ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.footer-head ul li{
    border-left: #ffffff solid 1px;
    padding-left: 20px;
}
[lang="ar"] .footer-head ul li:last-child{
    border: none;
}
[lang="en"] .footer-head ul li:first-child{
    border: none;
}
.footer-head ul li a{
    text-decoration: none;
    color: white
}
.footer-main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 10px;
}
.footer-main ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.footer-main ul li{
    margin-bottom: 10px;
    color: #cccccc;
}
.socials{
    width: 20%;
}
.socials a{
    text-decoration: none;
    color: white;
    margin-right: 10px;
    font-size: 1.5rem;
}
@media (max-width: 768px) {
    .footer-head {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .footer-head ul {
        flex-direction: column;
        gap: 10px;
    }

    .footer-head ul li {
        border: none;
        padding-left: 0;
    }

    .footer-main {
        flex-direction: column;
        gap: 20px;
    }

    .socials {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 10px;
    }

    .socials a {
        margin-right: 15px;
        font-size: 1.2rem;
    }
}
