main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ensure the main element takes full viewport height */
}
.container{
    background: #f9f9f9;
    box-shadow: 0 0 10px #ccc;
    width: 70%;
    min-width: 350px;
    max-width: 600px;
    padding: 20px;

}
.form-group{
    margin-top: 10px;
    margin-bottom: 10px;
}
form .form-control, .btn{
    border-radius: 0;   
    margin: 10px 0;
}

.bi{
    margin: 0 5px;
}