
main{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-block: 40px;
}
.container{
    background-color: var(--light-hover);
    box-shadow: 0 0 10px #ccc;
    border-radius: 10px;
    width: 70%;
    min-width: 350px;
    max-width: 600px;
    padding: 20px;

}
.bi{
    margin: 0 5px;
}
.form-style{
    margin: 10px auto !important;
    padding: 20px;
}
#forgot-pass{
    max-height: 0;
    transition: max-height 0.5s ease-out;
    overflow: hidden;
}
#forgot-pass.active{
    max-height: 500px;
}

#new-pass{
    display: none;
}
#new-pass.active{
    display: block;
}
#restNoti{
    position: absolute;
    top: 10px;
    right: 10px;
}
[lang = 'en'] #restNoti{
    left: 10px;
    right: auto;
}
.notifi{
    display: none;
    transition: opacity 1s ease;
    opacity: 1;
    background-color: white;
    padding: 10px;
    border-radius: 20px;
}
#emailSent{
    color: green;
}
#notFound{
    color: red;
}
.notifi.show{
    display: block !important;
}
.hidden {
    opacity: 0;
}
  