main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ensure the main element takes full viewport height */
}
.container{
    border: 1px solid #ccc;
    background: #f9f9f9;
    box-shadow: 0 0 10px #ccc;
    width: 70%;
    max-width: 500px;
    padding: 20px;

}
.form-group{
    margin-top: 10px;
    margin-bottom: 10px;
}
form .form-control, form .btn{
    border-radius: 0;
}
.social-login .btn{
    width: 100%;
    border-radius: 0;
}
#btn-face{
    background-color: #3b5998; border-color: #3b5998;
    margin-bottom: 10px;
}
#btn-google{
    background-color: #db4437; border-color: #db4437;
}