main{
    width: 100%;
    height: 100%;
    padding: 10px;
}
main img{
    width: 100%;
    height: 15vw;
    object-fit: cover;
    border-radius: 8px;
}
.order-progress-container{
    margin: 10px 0;
    background-color: var(--light-hover);
}
.order-progress{
    width: 45%;
    background-color: var(--orange);
}
.actionDetails{
    display: flex;
    gap: 10px;
}

.details{
    width: 70%;
}
/* Style for the UL container */
ul.details {
    list-style-type: none; /* Remove default bullets */
    padding: 0;
    margin: 0;
    /* background-color: var(--light-hover); */
    border: 3px solid var(--light-hover);
    border-radius: 8px;
    padding: 10px 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  }
  
  /* Style for the H4 inside UL */
  ul.details h4 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: var(--dark-blue);
  }
  
  /* Style for each LI note */
  ul.details li.note {
    padding: 8px 12px;
    margin-bottom: 8px;
    
    border-radius: 6px;
    color: var(--dark-blue);
    font-size: 0.95rem;
    /* border: 2px solid var(--light-hover);  */
    background-color: var(--light-hover);
    border-inline-start: 4px solid var(--yellow); /* Accent line */
  }

.actions{
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 3px solid var(--light-hover); /* Soft border */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    padding: 15px 20px; /* Inner spacing */
}

.add-note{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}
.add-note .note-input{
    padding: 5px;
    background-color: var(--light-hover);
}
#add-note-btn{
  background-color: var(--orange);
  color: var(--light);
  gap: 2px;
  align-items: center;
  display: flex;
  flex-direction: column;
}
#add-note-btn span{
    font-size: 12px;
}
#add-note-btn i{
    color: var(--light);
}
#add-note-btn:hover{
   background-color: var(--orange-hover);
}
.buttons{
    display: flex;
    gap: 10px;
}

@media (max-width: 600px) {
    .actionDetails{
        flex-direction: column-reverse;
    }
    .details{
        width: 100%;
    }
    .actions{
        width: 100%;
    }
    img{
        height: 20vw;
    }
}