main {
    display: flex;
    flex-wrap: nowrap; /* Ensures the divs stay in one row */
    gap: 10px; /* Adds spacing between the divs */
    height: 100vh; /* Makes the main container take the full height of the screen */
    box-sizing: border-box; /* Ensures padding is included in the height/width */
}
.btn{
    border-radius: 0;
}

aside {
    flex: 1; /* Takes 1 part of the available space */
    background-color: #f8f9fa;
    padding: 10px;
    overflow-y: auto; /* Adds scrolling if content overflows */
}

.user-avatar, .chief-avatar {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.chief-avatar {
    width: 30px;
    height: 30px;
}
.user-info {
    padding: 10px;
    width: 100%;
    border-bottom: rgb(181, 181, 181) 1px solid;
}
h4{
    font-size: 18px;
}
.user-info p{
    font-size: 14px;
    margin: 0;
    color: rgb(145, 145, 145);
}
.fav-chief{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: rgb(181, 181, 181) 1px solid;
}
.fav-chief-info{
    display: flex;
    align-items: center;
    gap: 10px;
}

.fav-chief-info:hover{
    cursor: pointer;
}
.fav-chief-info p {
    margin: 0; /* Removes any default margin around the text */
}
.contactUs button{
    margin-top: 5px;
    border-radius: 0;
}
  
.orders {
    flex: 3; /* Takes 3 parts of the available space */
    background-color: #ffffff;
    padding: 10px;
    overflow-y: auto; /* Adds scrolling if content overflows */
}

.order{
    display: flex;
    gap: 10px;
    border-bottom: #d1d1d1 1px solid;
    padding-bottom: 10px;
    margin-bottom: 10px;
    padding: 10px;
}
.order-img{
    width: 30%;
    height: 30%;
    border-radius: 8px;
}
.order-info{
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}
.datePrice{
    margin-top: auto;
}
.order-info p{
    margin: 0;
    font-size: 14px;
}

#cart-container {
    flex: 1; /* Takes 1 part of the available space */
    background-color: #f8f9fa;
    padding: 10px;
    overflow-y: auto; /* Adds scrolling if content overflows */
}

.add-to-cart{
    width: 20%;
    align-self: flex-end;
    margin-right: auto;
}
[lang='en'] .add-to-cart{
    margin-left: auto;
    margin-right: 0;
}

/* Optional: Make it responsive for smaller screens */
@media (max-width: 768px) {
    main {
        flex-wrap: wrap; /* Stacks the divs vertically on smaller screens */
        height: auto; /* Adjusts height to fit content */
    }

    aside, .orders, #cart-container {
        flex: 1 1 100%; /* Each div takes full width */
    }
}
footer{
    position: relative;
}
