body{
    background-color: var(--light);
}
main{
    display: flex;
    gap: 10px;
    box-sizing: border-box;



}
aside{
    padding: 10px;
    flex-grow: 1;
    /* background-color: white; */
}
.profile{
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--light-shadow);
}
.user-avatar{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.balance{
    margin: 10px 0;

}

.balance p{
    font-size: 1.2em;
    margin-bottom: 5px;
}
.balance .balance-amount{
    color: var(--orange);
    font-weight: none;
}
.balance .btn{  
    margin-top: 5px;
    display: block;
}
.recharge {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin-top: 10px;
    padding: 10px;
    /* background-color: var(--light-hover); */
    border-radius: 5px;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.3s ease, max-height 0.3s ease;
}
.recharge .btn{
    width: 80%;
}
.recharge.show {
    opacity: 1;
    max-height: 200px; /* Adjust based on content height */
}

.recharge i{
    margin: 0 5px;
}
#instapayRechargeButton{
    background-color:rgb(173, 0, 173);
    color:white;
}
#instapayRechargeButton:hover{
    background-color:rgb(136, 0, 136); /* Slightly lighter shade of purple */
    color: white;
}
.goTo-ktichens{
    margin-top: 10px;
    background-color: var(--red);
}
.goTo-ktichens:hover{
    background-color: var(--red-hover);
}
.history{
    flex-grow: 10;
    /* background-color: white; */
    padding: 10px;
}
.history h3{
    font-weight: bold;
    color: var(--dark-blue);
}
.transactions-list{
    display: flex;
    flex-direction: column;

}
.transaction{
    display: flex;
    flex-direction: column;
    padding: 10px;
    color: var(--dark-blue);
    border-radius: 8px;
}
.transaction p{
    margin: 5px 0;
}
.transaction .date{
    color: black;
}
.transaction .amount, .transaction .currency{
    color: #4CAF50;
}
.transaction .kitchen-name{
    color: var(--red);
}

.transaction:nth-child(odd) {
    background-color: var(--light-hover); /* Light grey for odd transactions */
}

.transaction:nth-child(even) {
    background-color: var(--light); /* White for even transactions */
}


@media (max-width: 600px) {
    main {
        flex-direction: column; /* Stack the elements vertically */
    }

    aside {
        width: 100%; /* Make the sidebar take full width */
        order: -1; /* Move the sidebar to the top */
    }

    .history {
        width: 100%; /* Make the history section take full width */
    }
}